
<div id="verification-component" style="display: none;">
    <div id='verification-panel'>

    <div align='center'>Ingresa el código de verificación enviado a tu correo corporativo</div>
        <div class="code-inputs">
            <input id="i_0" type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" (keyup)="onKeyUp($event, 0)" required>
            <input id="i_1" type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" (keyup)="onKeyUp($event, 1)" required>
            <input id="i_2" type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" (keyup)="onKeyUp($event, 2)" required>
            <input id="i_3" type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" (keyup)="onKeyUp($event, 3)" required>
            <input id="i_4" type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" (keyup)="onKeyUp($event, 4)" required>
            <input id="i_5" type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" (keyup)="onKeyUp($event, 5)" required>
        </div>

        <div class='button' style='margin-top: 50px; height:90px' align='center' id='bt_cancel'>
            <a href='#' >Confirmar</a>
        </div>
    </div>
</div>